<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet" />
    <title>Blog Fullstack</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="nav container">
        <!-- Logo -->
        <a href="#" class="logo">Ali<span>bad.com</span></a>
        <!--nav right-->
        <div class="nav-right">
          <a href="/admin" class="admin-btn"><i class="bx bx-user"></i></a>
          <a href="/add" class="write-btn"><i class="bx bx-edit"></i>write</a>
        </div>
      </div>
    </header>
    <!-- Home -->
    <section class="home" id="home">
      <div class="home-content">
        <h2>Alibad.com</h2>
        <!-- search box -->
        <div class="search-box">
          <i class="bx bx-search"></i>
          <input type="search" name="" id="" placeholder="Search..." />
        </div>
      </div>
    </section>
  </body>
</html>
