@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-dark: #111;
  --text-light: #f4f4f4;
  --crimson: #dc143c;
  --crimson-dark: #8b0000;
  --crimson-deep: #660000;
  --red-mid: #7a1f2b;
  --red-bright: #ff4d6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
